# Place settings.mk in ./protected/ so it is not version controlled

# indicate which configuration (environment) to use
PLENNY_ENV=mainnet

# less-privileged ssh auth used to provide the configuration securely
PLENNY_SSH_RUNNER=plenny@EXAMPLE

# more-privileged ssh auth for deploying this config to remote host
PLENNY_SSH_SRC=special_user@EXAMPLE
